<mat-card>
  <div class="row">
    <div class="col-md-2">
      <h1 class="text-center"><b class="logo">Mailer</b></h1>
    </div>
    <div class="col-md-1">
      <i (click)="refreshPage()" class="refresh fas fa-sync-alt fa-2x"></i>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <div class="row">
          <div class="col-1">
              <i class="fas fa-search text-muted"></i>
          </div>
          <div class="col-11">
              <input type="search" matInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search for Mails by Subject">
          </div>
        </div>
      </mat-form-field>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button class="loginbutton" mat-button [matMenuTriggerFor]="menu"><b>{{service.usermailobj.Name}}</b></button>
        <mat-menu #menu="matMenu">
          <button class="menu-button" mat-menu-item>Welcome</button>
          <button routerLink="/login" class="menu-button" mat-menu-item>Log out</button>
        </mat-menu>
    </div>
  </div>
</mat-card>

<div class="row">
  <div class="col-lg-2">
    <mat-card class="inbox-options">
      <mat-card class="composebutton card text-center" (click)="composebuttonClicked()"><i class="fas fa-plus"></i>&nbsp;&nbsp;Compose</mat-card><br><br>

      <p (click)="showInbox()" class="pointer inbox-ops"><i class="fas fa-inbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inbox</p>
      <p (click)="showSent()" class="pointer inbox-ops"><i class="fab fa-telegram-plane"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sent</p>
      <p (click)="showImportant()" class="pointer inbox-ops">&nbsp;<i class="fas fa-exclamation"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Important</p>
      <p (click)="showStarred()" class="pointer inbox-ops"><i class="fas fa-star"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Starred</p>
      <p (click)="showDraft()" class="pointer inbox-ops"><i class="fas fa-file"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draft</p>
      <p (click)="showTrash()" class="pointer inbox-ops"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trash</p>
      
    </mat-card>
  </div>
  <div class="col-lg-4 mailoptions">
      <app-received-mail *ngIf="inboxmail"></app-received-mail>
      <app-sent-mail *ngIf="sentmail"></app-sent-mail>
      <app-important-mail *ngIf="importantmail"></app-important-mail>
      <app-starred-mail *ngIf="starredmail"></app-starred-mail>
      <app-trash-mail *ngIf="trashmail"></app-trash-mail>
      <app-draft-mail *ngIf="draftmail"></app-draft-mail>
  </div>
  <div class="col-lg-6">
    <app-view-mail *ngIf="service.mailClicked"></app-view-mail>
    <app-compose-mail *ngIf="service.composeClicked"></app-compose-mail>
  </div>
</div>
