<div class="container-fluid">  
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" >

            <a class="navbar-brand" routerLink="/login">
                    <h1 style="color:#43425D; margin-left: 30px;"><b>Mailer</b></h1>
                </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" >
        
    </div>
    </nav>
</div>

<div class="row bgimage">
<div class="col-lg-8">
  <img class="imgsize" src="https://cdn.dribbble.com/users/1525393/screenshots/5419988/dfsd.gif" alt="Mailer">
</div>
<div class="col-lg-4">
<mat-card class="formcolor">
<form action="">
  <h1 class="text-center"><b>Mailer</b></h1>
  <p class="text-center text-muted">Welcome Back! Please Login to your Account.</p>
  <br>
  <mat-form-field>
        <input type="email" matInput placeholder="Username" title="Enter Email" [(ngModel)]="username" name="username"  required>
        <mat-hint *ngIf="usernameerror" style="color:red;">Username Invalid</mat-hint>
  </mat-form-field>
  <br><br>
  <mat-form-field>
        <input type="password" matInput placeholder="Password" title="Enter Password" [(ngModel)]="password" name="password" required>
        <mat-hint *ngIf="passwordstatus">Should be atleast 8 characters long.</mat-hint>
        <mat-hint *ngIf="passworderror" style="color:red;">Password Invalid</mat-hint>
  </mat-form-field>
  <br><br>
  <div class="row">
      <div class="col-sm-7">
            <mat-checkbox>Keep me Logged In!</mat-checkbox>
      </div>
      <div class="col-sm-5">
            <a routerLink="/forgotpass">Forgot Password?</a>
      </div>
  </div>
  <br><br>
  <div class="row">
      <div class="col">
        <button (click)="checkLogin()" class="loginbutton text-center" mat-raised-button>Login</button>
      </div>
  <div class="col">
    <button routerLink="/signup" class="signupbutton text-center" mat-raised-button>Signup</button>
  </div>
</div>
<br>
  
</form>
</mat-card>
<br>
</div>
</div>
