.mat-card{
    margin-top: 1.5%;
    border-radius: 20px;
    margin-right: 2%;
}
.replycolor{
    background-color:lightgray;
    border-radius: 20px;
}
.mailbodylimit{
    height:11vw;
    overflow: auto;
}
.mailreadbox {
    margin-bottom: 2%;
}

.pointer {cursor: pointer;
}
p a{
    color:blue;
}