<mat-card class="mailreadbox" >


  <div class="row">
    <div class="col">
      <h6 class="text-center">mail from:<br>{{service.mail.mail_from}}</h6>  
    </div>
    <div class="col">
      <h3 class="text-center">{{service.mail.mail_subject}}</h3>
    </div>
    <div class="col">
      <p class="text-center">{{service.mail.mail_date}}</p>
    </div>
  </div>
  <hr><br><br>
  <p class="mailbodylimit">{{service.mail.mail_body}}</p>
  <h3>Attachment URL's</h3>
  <p>{{service.mail.attachment_1}}</p>
  <p>{{service.mail.attachment_2}}</p>
  <p>{{service.mail.attachment_3}}</p>
  <p>{{service.mail.attachment_4}}</p>
  <p>{{service.mail.attachment_5}}</p>
  <div class="text-center replycolor">
    <br><br>
    <p>Click here to <a class="pointer" (click)="onReply()">Reply</a></p>
    <br><br>
  </div>


</mat-card>