mat-card{
    margin-top: 12%;
    padding: 4%;
    border-radius: 40px;
    background-color: beige;
}
.row-padding{
    padding-left: 3%;
    padding-right: 3%;
}
h1{
    color:#43425D;
}
mat-form-field{
    width:100%;
}

.linksize{
    font-size: 22px;
}

.form-width{
    width:100%;
}

.signupbutton{
    width: 100%;
    background-color: #43425D;
    color: white;
}