<div class="container-fluid">  
    <nav class="navbar navbar-expand-lg  navbar-light fixed-top" >

            <a class="navbar-brand" href="#">
                    <h1 style="color:#43425D; margin-left: 30px;"><b>Mailer</b></h1>
                </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" >
        <ul class="navbar-nav ml-auto">

                <li class="nav-item li1 active">
                        <a class="nav-link linksize active" style="color: #43425D;" routerLink="/login"><b>Login</b></a>
                </li>
        </ul>
    </div>
    </nav>
</div>


<div class="row row-padding">
<div class="col-md-4"></div>
<div class="col-md-4">
    <mat-card>
<form action="">
  <h1 class="text-center"><b>Mailer</b></h1>
  <p class="text-center text-muted">Please complete to create your account.</p>
 
  <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
            <input type="text" matInput placeholder="First Name" [(ngModel)]="firstname" name="firstname" required>
            <mat-hint style="color:red" *ngIf="nameerror">Invalid Name</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
            <input type="text" matInput placeholder="Last Name" [(ngModel)]="lastname" name="lastname" required>
            <mat-hint style="color:red" *ngIf="nameerror">Invalid Name</mat-hint>
          </mat-form-field>
      </div>
  </div>
  <mat-form-field>
        <input type="email" matInput placeholder="Example@mailer.com" [(ngModel)]="email" name="email" required>
        <mat-hint style="color:red" *ngIf="emailerror">Invalid Email</mat-hint>
  </mat-form-field><br>
  <mat-form-field>
        <input type="tel" matInput placeholder="Phone Number" [(ngModel)]="phonenumber" name="phonenumber" required>
        <mat-hint style="color:red" *ngIf="phonenumbererror">Invalid Phone Number</mat-hint>
  </mat-form-field><br>
  <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="password" name="password" required>
        <mat-hint *ngIf="defpassword">Should be atleast 8 characters long.</mat-hint>
        <mat-hint style="color:red" *ngIf="passworderror">Invalid Password</mat-hint>
  </mat-form-field><br>
  <mat-form-field>
        <input type="password" matInput placeholder="Confirm Password" [(ngModel)]="confpassword" name="confpassword" required>
        <mat-hint style="color:red" *ngIf="passworderror">Invalid Password</mat-hint>
  </mat-form-field><br>
    <mat-checkbox aria-required="required">I agree to terms and conditions!</mat-checkbox>
  <br><br>
    <button type="submit" (click)="onSignUp()" class="text-center signupbutton" mat-raised-button>Signup</button>
<br><br>
  <a routerLink="/login"><p class="text-center">Already Registered? Click Here!</p></a>
</form>
</mat-card>
</div>
<div class="col-md-4"></div>
</div>